{% extends "_baseLayout.html" %}
{% block content %}

<style>

@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Secular+One&display=swap');

    body {
      background-image: url("/static/resources/Wallpaper01.jpg");
      background-repeat: repeat-y;
      background-size: cover;
      background-attachment: fixed;

    }

    hr {
      border-color: rgb(161, 161, 161);
    }


    .wrapper {
        margin: 10px;
        padding: 10px;
        
    }

    .jumbotron {
      background-color: rgba(35, 35, 35, 0.88);
      color: white;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .card {
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
        background-color: rgba(35, 35, 35, 0.88);
        color:white
    }

    .progress {
      margin-bottom: 16px;
    }

    .d-flex {
      flex-wrap: wrap;
    }
    
    .second-page {
      width: 100%;
      height: 2000px;
      background-color: white;
    }

    .logo-mainpage {
      width: 300px;
    }

    .third-page {
      width: 100px;
    }

    .display-4 {
      font-family: 'Kdam Thmor Pro', sans-serif;
    }

    .wrapper2 {
      position: relative;
      top: 50px;
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
    }

    .news, .explaining {
      width: 50%;
      padding: 20px;
    }

    .button-mainpage {
      background-color: rgb(0, 128, 255);
      padding: 10px;
      border-radius: 10px;
      border-style: none;
      color: white;
      font-size: 20px;
    }

    .trailer-flex {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    .youtubeTeaser2 {
      display: block;
    }

    .youtubeTeaser1 {
      display: none;
    }

  @media only screen and (max-width: 1020px) {
    .jumbotron {
      justify-content: center;
    }

    .siteB {
      margin-top: 30px;
    }

    
  
  }


  @media only screen and (max-width: 700px) {
    .wrapper2 {
      display: block;
    }
    .news, .explaining {
      width: 100%;
    }

    .d-flex {
      justify-content: center;
    }
    .mainpage-div {
      width: 100%;
      text-align: center;
    }

    h3 {
      text-align: center;
    }

    .display-4 {
      text-align: center;
    }

    .youtubeTeaser2 {
      display: none;
    }

    .youtubeTeaser1 {
      display: block;
    }
  }

    
</style>

    <div class="wrapper">

          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Minecraft MGT</strong> Befindet sich zurzeit noch in der Entwicklungsphase. Die Website beinhaltet sich noch in der Beta-Phase und wird noch vervollständigt.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
    

        



        
    
        <div class="jumbotron">
            <div class="siteA">
              <h1 class="display-4">Hallo Spieler!</h1>
              <p class="lead">Auf dieser Seite erhälst du alle Informationen zu <b>Minecraft MGT - Live</b>.</p>
              <hr class="my-4">
              <p>Wenn du dich für Minecraft MGT anmelden möchtest, kannst du das hier direkt tun!</p>
              <div class="mainpage-div">
                <button class="button-mainpage" href="/register" role="button">Registrieren</button>
              </div>
            </div>
            <div class="siteB">
              <img class="logo-mainpage" src="/static/resources/icon.png" alt="Logo">
            </div>
          </div>


    </div>

    <div class="second-page">

      <div class="wrapper2">
        <div class="news">
          <h3>Neuigkeiten</h3>
          <hr>

          <div class="d-flex flex-row">
            

            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Sponsoren gesucht</h5>
                <h6 class="card-subtitle mb-2 text-muted">05.06.2022 23:27</h6>
                <p class="card-text">Falls Menschen oder Unternehmen vorbeischauen, wir würden uns über einen Sponsor regelrecht freuen, der das Projekt finanziert!</p>
              </div>
            </div>

            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Der Start!</h5>
                <h6 class="card-subtitle mb-2 text-muted">05.06.2022 23:26</h6>
                <p class="card-text">Willkommen auf der offiziellen Seite von Minecraft MGT! Der Start der Card-News wurde somit eingeleitet.</p>
              </div>
            </div>

        
          </div>


        </div>

        <div class="explaining">
          <h3>Was ist <i>Minecraft MGT?</i></h3>
          <hr>

          <p>Jetzt ist natürlich die Frage, was ist denn überhaupt <i>Minecraft MGT</i>? Um es einfach zu machen: <i>Minecraft-Game-Tournament</i>. Dreier Teams treten hierbei gegeneinander an und kämpfen um den Sieg. Diese Spiele werden Live auf YouTube übertragen und Live modieriert! Sehe dir jetzt den Teaser an:</p>

          <div class="trailer-flex">
            <iframe class="youtubeTeaser1" width="360" height="202,5" src="https://www.youtube.com/embed/fIovV5DcyhE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe class="youtubeTeaser2" width="960" height="504" src="https://www.youtube.com/embed/fIovV5DcyhE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>  
          
        </div>

        
      </div>

    </div>

  <div class="third-page">

  </div>



{% endblock %}