{% extends "_baseLayout.html" %}
{% block content %}

<style>
    #skin_canvas{
        /*border-style: dotted;*/
    }
</style>

<div class="m-4">


<h1>Accounteinstellungen - {{ACC.username}}</h1>

<div>
    <canvas id="skin_canvas"></canvas>
    <script>
        let skinViewer = new skinview3d.SkinViewer({
            canvas: document.getElementById("skin_canvas"),
            width: 300,
            height: 400,
            skin: "/static/skins/{{ACC.username}}.png"
        });
    
        //skinViewer.loadSkin("/static/skins/{{ACC.username}}.png");
        skinViewer.loadCape(null);
    
        skinViewer.background = document.body.style.backgroundColor;
    
        skinViewer.fov = 40;
        skinViewer.zoom = 0.9;
    
        let control = skinview3d.createOrbitControls(skinViewer);
        control.enableRotate = true;
        control.enableZoom = false;
        control.enablePan = false;
    
        let idleAnimation = skinViewer.animations.add(skinview3d.IdleAnimation);
        idleAnimation.speed = 1;
        idleAnimation.paused = false;

    </script>
</div>

<div>
    <button class="btn btn-warning" onclick="acc.terminateSession();">Ausloggen</button>
    
</div>

<div class="mt-3">
    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Advanced options
    </button>
    <div class="collapse" id="collapseExample">
        <div class="mt-2">
            <button  class="btn btn-danger" onclick="">Passwort ändern</button>
            <button  class="btn btn-danger" onclick="if(confirm('Bist du sicher, dass du deinen Account löschen möchtest?'))acc.delete();
            ">Account löschen</button>
        </div>
    </div>
</div>

</div>

{% endblock %}