{% extends "_baseLayout.html" %}
{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300&display=swap');

    #team-list{
        border-radius: 5px;
        background-color: rgb(229, 229, 229);
        width: 300px;
        padding: 20px;
    }
    #team-menu{
        width: 100%;
        margin-right: 50px;
    }

    .teamlist-entry{
        background-color: white;
        border-radius: 10px;
        padding: 5px;
        margin: 5px;
    }
</style>
<script>
    function set_alert(text){
        $("#team_alert").html(text);
    }
</script>

<div class="m-4">
    <h1>Team - Einstellungen</h1>
    <hr>
    <div class="alert alert-danger" role="alert" id="team_alert">
        No Content
    </div>

    <div style="display: flex;">
        <div id="team-menu">
            <!--If player is in no team-->
            {%if TEAM==None%}
                <button class="btn btn-success" onclick="
                (async ()=>{if((await team.create(prompt('Wie soll das Team heißen?'))['ok'])) document.location.reload();})();
                ">Team Erstellen</button>
            {% else %}
            <div id="inteam">
                <div id="inteam-info">
                    <h2>Informationen</h2>
                    <hr>
                    <div style="display: flex; flex-wrap: wrap;">
                        <div style="display: inline-block; padding: 10px;" class="mr-5">
                            <div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">Name </span>
                                    <input type="text" class="form-control" aria-describedby="basic-addon1" value="{{TEAM.name}}">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">Kürzel </span>
                                    <input type="text" class="form-control" aria-describedby="basic-addon1" value="{{TEAM.short_name}}">
                                </div>
                            </div>
                            {%if ACCESS==True%}
                            <div>
                                <button class="btn btn-primary" onclick="
                                
                                ">Speichern</button>
                                <br><br>
                                <button class="btn btn-warning" onclick="
                                (async ()=>{if((await team.leave())['ok']) document.location.reload();})();
                                ">Team verlassen</button>
                            </div>
                            {% endif %}
                        </div>
                        <div>
                            <img src="/static/teams/default/icon.png" width="200px" height="200px" 
                            style="border-radius: 50%; 
                            margin-right: 20px;
                            border-style: solid; 
                            border-color: rgb(118, 118, 118);
                            border-width: 5px;">
                        </div>
                    </div>
                </div>

                <div id="inteam-playersection" style="margin-top: 30px;">
                    <h2>Miglieder</h2>
                    <hr>
                    <div style="display: inline-block; background-color: rgb(229, 229, 229); border-radius: 20px;">
                        <div style="display: flex; flex-wrap: wrap;">
                            {% for member in TEAM.members %}
                            <div>
                                <center>
                                    <h3>{{member.username}}</h3>
                                </center>
                                <canvas class="MCSkinDisplay" playername="{{member.username}}"  width="200" height="200"></canvas>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}


            <br><br><br><br><br>
            <!--Only for debugging => remove later-->
            <button class="btn btn-primary" onclick="
            (async ()=>{if((await team.switch(prompt('Name: ')))['ok']) document.location.reload();})();
            ">Team wechseln</button>

        </div>
        <div id="team-list">
            <h4>Teams - Übersicht</h4>
            <hr>
            <div id="team-list-content">
                {% for team in ALL_TEAMS %}
                    <div class="teamlist-entry" style="box-shadow: 0px 10px 10px rgb(195, 195, 195);">
                        <div style="display: flex; flex-wrap: wrap;">
                            <div>
                                <img src="/static/teams/default/icon.png" width="40px" height="40px" style="border-radius: 50%; margin-right: 20px;">
                            </div>
                            <div style="display: flex; align-items: center;">
                                <p style="margin: 0; font-size: large; cursor: pointer; font-family: 'Azeret Mono', monospace;"
                                onclick="document.location = '/teamview?tn={{team.name}}';">{{team.short_name}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>


{% endblock %}